body {
  font-family: 'Source Sans Pro';
  font-size: 1.3em;
  line-height: 1.9rem;
  min-height: 100%;
  height: 100%;
  background: linear-gradient(#185a9d, #43cea2) fixed;
  color: #fff;
}

header {
  min-height: 50px;
}

section {
  flex: 1;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0 23%;
}

.me {
  border-radius: 50%;
}

.socialBtn {
  height: 50px;
  width: 50px;
  opacity: 0.5;
}

.socialBtn:hover
{
  opacity:1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition:all 0.3s ease;
}

.socialBtnLink {
  padding: 5px;
  text-decoration: none;
}